<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>-->
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/patient-doctor-chat" id="back" icon-only fill clear shape="square">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-avatar>
    <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" id="pic">
  </ion-avatar>
  <h3 style="text-align: center;"><b>Finn Noynay</b></h3>
  <ion-list>
    <ion-item button>
      <ion-label>
        Payment
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        Shared Files
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
