<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar id="fixed">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/patient-consultation"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" id="pic">
    </ion-avatar>
    <ion-buttons slot="end" class="right">
      <ion-button class="right">
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
      <ion-button class="right" routerLink="/patient-chat-info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:left;">Finn Noynay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea placeholder="Type to chat"></ion-textarea>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="send" id="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
