#pic{
  width:60%;
  height:60%;
}

ion-avatar{
  margin-top: 10px;
  margin-bottom: -15px;
  margin-right: -30px;
}

.right{
  border-radius: 80px;
}

#fixed{
  -webkit-box-shadow: 0 8px 6px -6px gray;
	-moz-box-shadow: 0 8px 6px -6px gray;
	box-shadow: 0 8px 6px -6px gray;
}

ion-icon{
  color:#16c2d5;
}

#send{
  color:#1C365E !important;
}
