<ion-content>
  <div class="block-center" id="login">
    <ion-img class="displayed" src="\assets\ekonsulta-logo.png" ></ion-img>
    <h2>E-KONSULTA</h2>
    <ion-card>
      <ion-card-content>
        <ion-item>
        <ion-input  type="email" placeholder="Email" required=true [(ngModel)]="user.docEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  type="password" placeholder="Password" required=true [(ngModel)]="user.docPassword"></ion-input>
      </ion-item>
      <div class="check">
        <ion-checkbox checked="false" color="secondary"></ion-checkbox>
        <ion-label>&nbsp;I agree with the <u>Terms and Coditions</u></ion-label>
      </div>

      <ion-button display="center" id="btn1" color="rgb(28,54,94)" (click)="doctorReg()">Sign Up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
