.block-center{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ion-button{
  width: 100%;
}

ion-card{
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  width: 300px;
}

h4{
  margin-top: 10px;
}

.displayed{
  width:50%;
  height:50%;
  display:inline-block;
  margin-top: -80px;
}

h2{
  color:#16c2d5;
  margin-top: -25px;
  margin-bottom: 50px;
}

#btn3,#btn2{
  color:#16c2d5;
  outline-color: #16c2d5;
}


.check{
  margin-top: 10px;
  justify-content: left !important;
  align-items: left !important;
  margin-left: -5% !important;
}

#btn1{
  background-color:rgb(28,54,94);
  margin-top: 10px;
}

