<ion-content>
  <div class="block-center" id="login">
    <ion-img class="displayed" src="\assets\ekonsulta-logo.png" ></ion-img>
    <h2>E-KONSULTA</h2>
    <ion-card>
      <ion-card-content>
        <ion-item>
        <ion-input  type="email" placeholder="Email" required=true></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  type="password" placeholder="Password" required=true></ion-input>
      </ion-item>
      <div class="check">
        <ion-checkbox checked="false" color="secondary"></ion-checkbox>
        <ion-label>&nbsp;Remember me</ion-label>
      </div>

      <ion-button display="center" id="btn1" color="rgb(28,54,94)">Login</ion-button>
      <ion-button fill="clear" expand="block" size="small" style="text-transform:none" color="medium" id="btn2">Forgot Password?</ion-button>
      </ion-card-content>
    </ion-card>
    <h4 class="or">or</h4>
    <ion-button color="rgb(38, 194, 194)" fill="outline" id="btn3">Create Account</ion-button>
  </div>

</ion-content>
