
<ion-content>
  <div class="block-center" id="login">
    <ion-img class="displayed" src="\assets\ekonsulta-logo.png" ></ion-img>
    <h2>E-KONSULTA</h2><br><br>
    <h4>I am a</h4>
    <ion-button display="center" id="btn1" expand="block" color="rgb(28,54,94)" routerLink="/patient-register" (click)="(['/patient-register'])">Patient</ion-button>
    <ion-button display="center" id="btn1" expand="block" color="rgb(28,54,94)" routerLink="/doctor-register" (click)="(['/doctor-register'])" >Doctor</ion-button>
  </div>
</ion-content>
